body {
    width: 960px;
    margin: 0 auto;
	text-align: center;
	background-color: rgb(220, 220, 220);
	color: black;
}

img {width: 735 px; height: 107 px;
     margin-top: 10px;}
h1 {color: black;}
a:visited {
    color: purple;
    background-color: mediumvioletred;
    font-family: Shanti;
    border-radius 10 px;
}

a {display: inline;
    padding: 5px;
    border: 3px solid #0088dd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;}

.dropbtn {display: inline;
    padding: 5px;
    border: 3px solid #0088dd;
    backgournd-color: #efefef;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.dropdown {display: inline-block;
           position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}